@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Model;
@model List<PriseList>;

<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <!-- Верхняя часть -->
            <div class="card__top">
                <!-- Изображение-ссылка товара -->
                <a href="#" class="card__image">
                    <img src=@item.Image
                         alt=@item.NameProduct />
                </a>
                <!-- Скидка на товар -->
                <div class="card__label">-10%</div>
            </div>
            <!-- Нижняя часть -->
            <div class="card__bottom">
                <!-- Цены на товар (с учетом скидки и без)-->
                <div class="card__prices">

                    <div class="card__price card__price--common">@item.CostForOne</div>
                </div>
                <!-- Ссылка-название товара -->
                <a href="#" class="card__title">
                    @item.NameProduct
                </a>
                <!-- Кнопка добавить в корзину -->
                <button class="card__add" id=@item.Article onclick="deleteFromBasket(this.id)">Удалить</button>
            </div>
        </div>
    }
</div>